html {
	position: relative;
}

body {
	margin: 0;
	font-size: 16px 18px;
	font-family: arial, helvetica, sans-serif;
	scroll-behavior: smooth;
	background-color: #fff;
}

.header {
	position: fixed;
	background-color: #172a3a;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 43px;
	resize: none;
	z-index: 4;
}

.header h3 a {
	position: absolute;
	padding: 0 25px;
	margin: -15px 0;
	color: #eef942;
	font-size: 30px;
	font-family: sans-serif;
	font-variant: small-caps;
	text-decoration: none;
	letter-spacing: 1px;
}

.signin a {
	position: relative;
	top: -7px;
	padding: 0 25px;
	float: right;
	text-decoration: none;
	color: #fff;
	right: 6%;
}

.signin a:hover {
	color: #eef942;
}

.signup a {
	position: relative;
	background-color: #00bfff;
	top: -14px;
	border: none;
	border-radius: 6px;
	font-size: 13px;
	cursor: pointer;
	padding: 6px 8px;
	font-weight: bold;
	float: right;
	left: 70px;
	right: 0;
	text-decoration: none;
	color: #fff;
}

.signup a:hover {
	background-color: #009acd;
	color: #eee;
} 

.navigation ul {
	list-style-type: none;
	text-align: center;
	margin-top: -16px; 
}

.navigation li {
	display: inline-block;
}

.navigation li a {
	left: -80px;	
	position: relative;
	font-family: helvetica;
	font-weight: bold;
	font-family: calibri, sans-serif;
	text-decoration: none;
	font-size: 16px;
	padding: 0 20px;
	color: #fff;
}

.navigation	input[type=search] {
	border: none;
	background-color: #eee;
	width: 4.5in;
	padding: 8px 10px;
	border-radius: 6px;
	opacity: 0.8;
	margin-right: -200px;
}

.navigation li a:hover {
	color: #eef942;
}

.aside {
	width: 20%;
	height: 612px;
	background-color: #eef;
	color: #000;
	padding: 0 0;
	margin: 43px 0 0 0;
	position: fixed;
	resize: none;
	border-top: 2px solid #eef942;
}

.aside h4, ul, a {
	padding: 0 25px;
	list-style-type: none;
}

.aside h4 {
	margin-bottom: -12px;
	letter-spacing: 2px;
}

.aside li a {
	text-decoration: none;
	color: #000;
	line-height: 1.5;
	font-weight: bold;
}

.aside li a:hover {
	color: #808080;
}

.main-box4, .main-box5, .main-box6 {
	position: absolute;
	width: 300px;
	height: 340px;
	margin: 80px 0 0 3.35in;
	background-color: #eef;
	resize: none;
}

.main-box5 {
	left: 26%;
}

.main-box6 {
	left: 52%;
}



.main-box4 img, .main-box5 img, .main-box6 img {
	opacity: 0.8;
	cursor: pointer;
}

.main-box4 img:hover, .main-box5 img:hover, .main-box6 img:hover {
	opacity: 1;
}

.box-text p {
	text-align: center;
	font-weight: bold;
}

.box-text a {
	border: none;
	border-radius: 4px;
	background-color: #172a3a;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	padding: 6px 26px;
	margin: -10px 0 0 37%;	
}

.box-text a:hover {
	color: #808080;
}

.footer {
	position: relative;
	width: 27.2cm;
	height: 614px;
	background-color: #000;
	padding: 0 25px;
	font-family: tahoma;
	left: 20%;
	bottom: -8in;
}

.footer table {
	position: relative;
	top: -20px;
}

.footer .one {
	width: 400px;
}

.footer tr td h3 {
	margin-top: -15px;
	color: #eef942;
	font-size: 50px;
	font-family: sans-serif;
	font-variant: small-caps;
	letter-spacing: 1px;
}

.footer .one p {
	margin-top: -20px;
	text-align: left;
	line-height: 1.5;
	color: #fff;
	font-size: 14px;
}

.footer .one span {
	font-weight: bold;
}

.footer .two {
	width: 260px;
	padding-left: 50px;
	color: #fff;
}

.footer .two h4 {
	margin-top: 58px;
	letter-spacing: 2px;
}

.footer .two a, .three a {
	display: block;
	color: #fff;
	line-height: 1.7;
	text-decoration: none;
	font-size: 14px;
}

.footer .two a:hover, .footer .three a:hover {
	color: #808080;
}

.footer .three {
	width: 200px;
	color: #fff;
}

.footer .three h4 {
	margin-top: -10px;
	letter-spacing: 2px;
}

.footer .four {
	position: relative;
	top: 22px;
}

.footer .four, .four p {
	color: #fff;
	text-align: left;
}

.four h4 {
	margin-top: -45px;
	letter-spacing: 1px;	
}

.footer .four span {
	color: #eef942;
}

.four input[type=email] {
	margin-top: 10px;
	border: none;
	border-radius: 4px;
	padding: 7px 10px;
	margin-bottom: 20px;
	width: 350px;
}

.four a {
	text-decoration: none;
	color: #fff;
}

.four .four-man {
	margin-right: 1.67in;
	border: 2px solid #fff;
	padding: 4px 32px;
}

.four .four-woman {
	border: 2px solid #fff;
	padding: 4px 20px;
}

.four .four-man:hover, .four .four-woman:hover {
	color: #000;
	background-color: #fff;
}


.footer-end {
	margin: 1.8in 0 0 0;
}

.footer-end, .footer-end a {
	margin: 2.5in 0 0 0;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}







